Download Sentiment Reviews from http://ai.stanford.edu/~amaas/data/sentiment/ preferably to /tmp/ and uncompress the file

In [9]:
cd /tmp/aclImdb/

/private/tmp/aclImdb

In [10]:
import glob, os
os.chdir("train/pos/")
pos_files = glob.glob("*.txt")
os.chdir("../neg/")
neg_files = glob.glob("*.txt")

In [16]:
os.chdir("../pos/")
pos_reviews = []
for file in pos_files:
    with open(file,'r') as f:
        pos_reviews.append(f.read())

In [23]:
os.chdir("../neg/")
neg_reviews = []
for file in neg_files:
    with open(file,'r') as f:
        neg_reviews.append(f.read())

In [24]:
neg_reviews[12000]

'This is one of the worse movies that I have ever seen in my entire life. I wish I could travel back in time and do the following:<br /><br />1) Find out where the "movie" "War Games- The Dead Code" was filmed 2) Watch the original WAR GAMES with my current computer knowledge AND the eyes of a 1983 preteen. 3) Break into the pentagon computer in the 80\'s with the knowledge and perspective learned and remembered. 4) Reprogram the WHOPPER to NUKE the location of THE DEAD CODE minutes prior to its first day of filming 5) Come back to the present, have a beer and get Will Smith and Tommy Lee Jones to "flash" my memory blank of the whole event, especially my original viewing of "The Dead Code" 6) Have another beer and watch WARS GAMES 7) Be happy until the next bad remake of a GOOD 80\'s movie.<br /><br />8) Did I forget the have Jar Jar killed. I am not sure if I would have to travel into the future for that. Maybe I need access to a wormhole.'

In [25]:
import pandas as pd

In [34]:
reviews = pd.DataFrame({'Reviews':pos_reviews, 'Sentiment': [1]*len(pos_reviews)})
reviews = pd.concat([reviews,pd.DataFrame({'Reviews':neg_reviews, 'Sentiment': [0]*len(pos_reviews)})])

In [35]:
reviews.head()

                                             Reviews  Sentiment
0  Bromwell High is a cartoon comedy. It ran at t...          1
1  Homelessness (or Houselessness as George Carli...          1
2  Brilliant over-acting by Lesley Ann Warren. Be...          1
3  This is easily the most underrated film inn th...          1
4  This is not the typical Mel Brooks film. It wa...          1

In [37]:
reviews.tail()

                                                 Reviews  Sentiment
12495  Towards the end of the movie, I felt it was to...          0
12496  This is the kind of movie that my enemies cont...          0
12497  I saw 'Descent' last night at the Stockholm Fi...          0
12498  Some films that you pick up for a pound turn o...          0
12499  This is one of the dumbest films, I've ever se...          0

In [38]:
reviews.shape

(25000, 2)

In [40]:
cd ~/uniwork/ml_class/

/Users/sachin/Documents/OneDrive - NETSCOUT SYSTEMS INC/uniwork/ml_class

In [41]:
reviews.to_pickle("reviews.pkl")